<a href="https://colab.research.google.com/github/woojin1101/2020camp/blob/master/0903.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("input num :")
x=int(input())
if x%2==0:
 print(x, "is an even number.")
elif x%3==0:
 print(x, "is 3*")
else:
 print(x, "is an odd number.")

input num :
3
3 is 3*

In [ ]:
for i in range(5): # i=0 i<5; i++
  print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [ ]:
for i in range(20, 100, 10):
  print("i = :", i)

i = : 20
i = : 30
i = : 40
i = : 50
i = : 60
i = : 70
i = : 80
i = : 90

In [ ]:
#List 장점 flexible, 
a = [5,10,15,20,25,30,35,40]
print(a)
print("len(a)=", len(a))

[5, 10, 15, 20, 25, 30, 35, 40]
len(a)= 8

In [ ]:
#list can contains different types
b = [3.14,100,'hello',a]
print(b)
print(a[2])

[3.14, 100, 'hello', [5, 10, 15, 20, 25, 30, 35, 40]]
15

In [ ]:
print("a[0:3]= ", a[0:3]) #0이상 3미만
print(a[2]) #그냥 element type 여기서는 int!!
print(a[2:3]) #slicing 사용하면 list type으로 나옴.
print(a[0:6:2]) #2칸씩 건너뛰면서

a[0:3]=  [5, 10, 15]
15
[15]
[5, 15, 25]

In [ ]:
a.append(50) #뒤에 추가시키는 것
a.remove(5) #element 5를 삭제
a.insert(45,8) #45를 8번째에 삽입

In [ ]:
x=[]
for a in range(1,100,1):
 if a%3==0 :
   x.append(a)

print(x)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
animals = ['cat','dog', 'monkey']
for idx, animal in enumerate(animals):
  print('{}:{}'.format(idx+1, animal))

1:cat
2:dog
3:monkey

In [ ]:
a=10
b=20
a, b = b,a
print(a)
print(b)

20
10

In [ ]:
nums=[0,1,2,3,4]
sq =[]
for x in nums:
  sq.append(x**2) #x**2 means ^2
print(sq)

[0, 1, 4, 9, 16]

In [ ]:
ev_sq=[x**2 for x in nums if x%2==0] #x를 제곱해라 nums에 있는 x가 짝수일 경우에만..
print(ev_sq)

[0, 4, 16]

In [ ]:
list2d= [[1,2,3], [4,5,6]]